<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EndProject"
        tools:targetApi="31">

        <!-- מסך פתיחה -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- מסך ראשי -->
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

        <!-- מסך משחק "נחש את המספר" -->
        <activity
            android:name=".GuessNumberActivity"
            android:exported="true"/>

        <!-- מסך מילוי פרטים (כולל צילום תמונה/וידאו) -->
        <activity
            android:name=".FillDetailsActivity"
            android:exported="true"/>

        <!-- מסך מחשבון מתמטי -->
        <activity
            android:name=".MathCalculatorActivity"
            android:exported="true"/>

        <!-- מסך משחק חדש -->
        <activity
            android:name=".NewGameActivity"
            android:exported="true"/>

    </application>

</manifest>
